/*
#0b0c10 - black
#1f2833 - dark gray
#c5c6c7 - gray
#66fcf1 - aqua
#45a29e - dark aqua
*/

body {
    background-color: #0B0C10;
}

.welcome-header {
    color: #66fcf1;
}

#showData {
    color: white;
}
